<%= area_chart @daily_devs, title: 'Developers processed daily', colors: %w[#bd0 #666], thousands: "," %>
<%= area_chart @developers, title: 'Cumulative developers processed', curve: false, thousands: "," %>
<br/>
<%= area_chart @daily_repos, title: 'Repositories processed daily', colors: %w[#bd0 #666], thousands: "," %>
<%= area_chart @repositories, title: 'Cumulative repositories processed', curve: false, thousands: "," %>
<br/>

<%= turbo_stream_from 'charts' %>
<div id="rate-sq-1"></div>
<div id="rate-sq-2"></div>

<%= line_chart @performance.map {|name, data| {name:, data:}}, title: 'Surfer performance', ytitle: "Time, sec"%>